@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,500;1,400&family=Roboto+Condensed:wght@700&family=Roboto:wght@300;700;900&display=swap');

main{
    text-align: center;
    margin-top: 70px;
}


body{
    background-image: url("./images/new.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: white;
}

#text{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2em;
    color: #eeeaea;
    font-size: 1.5em;
    background-color: #00000096;
    border: 20px;
    margin:20px;
    padding:40px;   
}

h1{
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 3.2em;
    text-align: center;
    color: #f8f4f4;
    text-shadow: 2px 2px #9e3030;  
}

main{
    background-color: #7c2248;
    margin-left: 30%;
    margin-right: 30%;
    padding: 30px;
    border-radius: 12px;   
}

button{
    background-color: #fdc50e;
    color: #531730;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.5em;
    padding: 15px;
    border-radius: 10px;
}

#count-el{
    
    text-align: center;
    font-size: 3em;
    color: #f8f4f4;
    text-shadow: 2px 2px #9e3030;}

