$color-blue: #0984e3;
$color-green: #00b894;
$color-yellow: #fdcb6e;
$color-red: #fab1a0;

$color-dark-blue: #064f83;
$color-dark-green: #026b56;
$color-dark-yellow: #e79703;
$color-dark-red: #f3836a;
